<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html><!--RAW FILE--><head>
<!-- base href="http://adsabs.harvard.edu/basic_search.html" -->
<meta name="robots" content="noarchive">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>SAO/NASA ADS Basic Query Form</title>

<link rel="icon" href="http://adsabs.harvard.edu/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="http://adsabs.harvard.edu/favicon.ico" type="image/x-icon">
<style type="text/css">
a:link {color: #0000ff}
a.oa:link {color: #00a000}
a:visited {color: #4000a0}
a.oa:visited {color: #006666}
a:hover {color: #ff0000}
a.oa:hover {color: #cc33cc}
</style>

<div align="center">
<a href="http://adsabs.harvard.edu/"><img src="http://adsabs.harvard.edu/figs/newlogo.gif" alt="[ADS]" width="349" height="168" border="0" align="middle"></a><p>
</p><h3><a href="http://adsabs.harvard.edu/">SAO/NASA ADS</a> <a href="http://adsabs.harvard.edu/ads_abstracts.html">Abstract Service</a></h3>
</div>
<form method="GET" action=/search name="basic_queryform" _lpchecked="1">
<div align="center">
<table cellspacing="0" cellpadding="5"><tbody><tr><td width="25%%">&nbsp;</td>
<td align="center"><input name="qsearch" size="60" maxlength="120"><br><input type="submit" value=" ADS Search "> <input type="reset" value=" Clear "></td><td width="25%" valign="top" nowrap="nowrap">&nbsp;&nbsp;<a href="http://adsabs.harvard.edu/abstract_service.html">Advanced Search</a><br>&nbsp;&nbsp;<a href="http://adsabs.harvard.edu/abs_doc/help_pages/basicsearch.html">Help</a></td></tr>

</tbody></table>

</div></form>


</body></html>